<div class="container py-4">
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <div class="bg-body-tertiary p-3 rounded h-100" style="max-width: 800px;">
        <h2 class="fs-5 mb-2">ルームカテゴリー</h2>
        <p class="lead fs-6 mb-2">客室を分類するためのカテゴリーを設定します。</p>
        <a class="btn btn-sm btn-primary" href="/employees/room_categories/new" role="button">ルームカテゴリー設定 »</a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bg-body-tertiary p-3 rounded h-100" style="max-width: 800px;">
        <h2 class="fs-5 mb-2">アメニティーグループ</h2>
        <p class="lead fs-6 mb-2">客室にセットされているアメニティーをグループに分けて設定します。</p>
        <a class="btn btn-sm btn-primary" href="/employees/amenity_groups/new" role="button">アメニティー設定 »</a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bg-body-tertiary p-3 rounded h-100" style="max-width: 800px;">
        <h2 class="fs-5 mb-2">ルームリスト</h2>
        <p class="lead fs-6 mb-2">客室の設定をします。</p>
        <a class="btn btn-sm btn-primary" href="/employees/room_lists/new" role="button">客室設定 »</a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bg-body-tertiary p-3 rounded h-100" style="max-width: 800px;">
        <h2 class="fs-5 mb-2">ファシリティー</h2>
        <p class="lead fs-6 mb-2">プールやショップ、レストラン情報の登録を行います。</p>
        <a class="btn btn-sm btn-primary" href="/employees/facilities/new" role="button">ファシリティー設定 »</a>
      </div>
    </div>
  </div>
</div>

