<div class="container py-4">
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <div class="bg-body-tertiary p-3 rounded h-100" style="max-width: 800px;">
        <h2 class="fs-5 mb-2">従業員新規登録</h2>
        <p class="lead fs-6 mb-2">新しい従業員の登録を行います。</p>
        <a class="btn btn-sm btn-primary" href="/admins/employees/new" role="button">新規作成 »</a>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bg-body-tertiary p-3 rounded h-100" style="max-width: 800px;">
        <h2 class="fs-5 mb-2">従業員情報編集</h2>
        <p class="lead fs-6 mb-2">従業員情報の編集/削除を行います。</p>
        <a class="btn btn-sm btn-primary" href="/admins/employees" role="button">編集 »</a>
      </div>
    </div>
  </div>
</div>

