<div class="body m-3">
    <div class="bg-body-tertiary p-5 rounded ">
    <h1>ルームカテゴリー</h1>
    <p class="lead">客室を分類するためのカテゴリーを設定します。</p>
    <a class="btn btn-lg btn-primary" href="/room_categories/new" role="button">ルームカテゴリー設定 »</a>
    </div>
</div>
<div class="body m-3">
    <div class="bg-body-tertiary p-5 rounded">
        <h1>アメニティーグループ</h1>
        <p class="lead">客室にセットされているアメニティーをグループに分けて設定します。</p>
        <a class="btn btn-lg btn-primary" href="/amenity_groups/new" role="button">アメニティー設定 »</a>
    </div>
</div>
<div class="body m-3">
    <div class="bg-body-tertiary p-5 rounded">
        <h1>ルームリスト</h1>
        <p class="lead">客室の設定をします。</p>
        <a class="btn btn-lg btn-primary" href="/room_lists/new" role="button">客室設定 »</a>
    </div>
</div>