<div>
  <% if @chats.present? %>
    <div>
      <% @chats.each do |chat| %>
        <div>
          <span>ID: <%= chat.id %></span>
          <span><%= l chat.created_at, format: :long %></span>
          <span>
            <%= link_to 'View', chat_path(chat) %>
          </span>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>はじめてのチャットを開始しましょう</p>
  <% end %>

  <div>
    <%= button_to '新しいチャットを開始', chats_path, data: { turbo_method: :post }, class: 'btn btn-primary' %>
  </div>
</div>
