<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Kwonledge Hub", admins_root_path, class: "navbar-brand" %>
    <div class="d-flex justify-content-around">
      <ul class="navbar-nav d-flex flex-row align-items-center gap-3">
        <li class="nav-item">
          <%= link_to "アカウント設定", edit_admins_account_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= button_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link", data: { turbo_confirm: '管理者画面からログアウトしますか？' } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
