<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Kwonledge Hub", "#", class: "navbar-brand" %>
    <div class="d-flex justify-content-around">
    </div>
  </div>
</nav>
