<nav class="navbar public-header">
  <div class="container-fluid">
    <%= link_to "Kwonledge Hub", "#", class: "navbar-brand public-header-title" %>
    <div class="d-flex justify-content-around">
    </div>
  </div>
</nav>
