<p><%= @resource.email %>様</p>

<p>パスワードの変更のリクエストを受け付けました。 以下のリンクから変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに覚えがない場合はご放念ください。</p>
<p>本リンクにアクセスしない限り、パスワードが変更されることはありません。</p>
