.public-header {
  background-color: $_accent_color;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-card {
  width: 500px;
  padding: 24px;
}

.page-title {
  font-weight: bold;
  font-size: 24px;
}
